body {
    font-family: Arial, sans-serif;
    background-image: url(images/fondo_inicioSesion.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor-inicio-sesion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.contenedor-inicio-sesion h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contenedor-inicio-sesion input[type="text"],
.contenedor-inicio-sesion input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contenedor-inicio-sesion input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.contenedor-inicio-sesion input[type="submit"]:hover {
    background-color: #27ae60;
}

.contenedor-inicio-sesion a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.contenedor-inicio-sesion a:hover {
    text-decoration: underline;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.modal-boton {
    background: #27ae60;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s;
}

.modal-boton:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}