/* Estilos para la tabla */
#contribuyentesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#contribuyentesTable th, #contribuyentesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#contribuyentesTable th {
    background-color: green;
    color: white;
}

#contribuyentesTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#contribuyentesTable tr:hover {
    background-color: #ddd;
}

/* Botones de acciones */
.action-buttons-table button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 5px;
}

.action-buttons-table button:hover {
    background-color: darkgreen;
}

/* Formulario emergente */
.form-popup {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
    max-width: 400px;
    padding: 10px;
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 40px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .btn {
    background-color: green;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-container .btn:hover {
    background-color: darkgreen;
}

.form-container .cancel {
    background-color: #ff4d4d;
}

.form-container .cancel:hover {
    background-color: #cc0000;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo-left img {
    height: 100px;
}

.title h1 {
    color: black;
    font-size: 1.5em;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.menu-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.menu-buttons button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 25px;
    cursor: pointer;
    font-size: 16px;
}

.menu-buttons button:hover {
    background-color: green;
    color: white;
    border-radius: 20px;
}

.content {
    text-align: center;
    padding: 20px;
}

.main-title {
    color: black;
    font-size: 2em;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
}

.separator {
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

.action-buttons button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.action-buttons button img {
    margin-right: 10px;
}

.action-buttons button:hover {
    background-color: darkgreen;
}