body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo-left img {
    height: 100px;
}

.title h1 {
    color: black;
    font-size: 1.5em;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.menu-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.menu-buttons button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 25px;
    cursor: pointer;
    font-size: 16px;
}

.menu-buttons button:hover {
    background-color: green;
    color: white;
    border-radius: 20px;
}

.content {
    text-align: center;
    padding: 20px;
}

.main-title {
    color: black;
    font-size: 2em;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
}

.separator {
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

.action-buttons button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.action-buttons button img {
    margin-right: 10px;
}

.action-buttons button:hover {
    background-color: darkgreen;
}